body{
    flex-direction: column;
    background-color: #bbb;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    background-color: whitesmoke;
    padding: 40px;
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 darkgrey;
  }
  
  form {
    position: absolute;
    margin-top: 185px;
    transition: .5s;
    width: 300px;
    height: 400px;
  }
  
  .buttonsForm {
    margin-top: 20px;
    
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 blueviolet;
  }
  
  .buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
  }
  
  .btnColor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: linear-gradient(to right, #5956e9, #a963f8);
    border-radius: 30px;
    transition: .3s;
  }
  
  input[type="text"], input[type="password"] {
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 12px 0 8px 35px;
    outline: none;
    width: 100%;
    background-image: url(PROJETO-INICIAL-SPOTIFY/imagens/olho.png);
  }
  
#signup button[type="submit"] {
    background: #00913f;
    color: white;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;

  }
  #signin button[type="submit"] {
    background: #00913f;
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
  }
  .divCheck {
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 13px;
  }
  
  #signin {
    
  }
  
  #signup {
    right: 550px;
  }
  
  i {
    position: absolute;
    left: 0;
    padding: 10px 10px;
}

.iEmail {
    top: 40px;
}

.iPassword {
    top: 114px;
}

.iPassword2 {
    top: 190px;
}

#signin a{
    text-align: center;
    color: gray;
    font-size: 12px;
    padding: 90px;
    
}